.nathaniel {
 background-image: url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949318/wordof/nathaniel.jpg");
}

.cynthia {
 background-image: url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949318/wordof/cynthia.jpg");
}

.adrien {
 background-image: url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949321/wordof/adrien.jpg");
}

.cardau {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
