.devise {
  /* margin-top: 60px;
  margin-bottom: 15px; */
  /* border: 1px solid #9E9E9E; */
  /* padding-bottom: 20px;
  border-radius: 5px; */
  /* box-shadow: 1px 1px 5px; */
  top:0; right:0;
  bottom:0; left:0;
  background-color: #344C62;
  height: 118%;
  position: relative;
  }

.text {
  color: #344C62;
  font-weight: bold;
}

.position {
  color: #344C62;
  border: solid 1px;
  margin-top: 25px;
  margin-bottom: 100px;
  padding: 25px 50px;
  background-color: white;
  border-radius: 3%;
  width: 60%;
  margin-left: 20%;
}

.signtitle {
  background-color: #344C62;
}

.signtitle h2 {
  color: #fff;
  font-weight: 900;
}

.forgotpw {
 width: auto;
}
