body {
  padding-top: 50px;
}

/*******************************
            BANNER
*******************************/

.banner {
 background-image: url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949824/wordof/building.jpg");
 text-align: center;
 height: 100vh;
 /* if you have a 70px navbar => height: calc(100vh - 70px); */
 background-size: cover !important;
 background-attachment: fixed;
 display: flex;
 align-items: center;
 justify-content: center;
}


.banner h1 {
  text-shadow: 2px 1px #344C62;
  color: white;
  font-size: 50px;
}

.banner p {
 color: #344C62;
 text-shadow: 2px 1px #fff;
 font-size: 23px;
 font-weight: bold;
}

/* HowItWorks button*/

.btn-work {
  color: #fff;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: #334C62;
  transition: background 0.1s ease-in-out;
}

.btn-work:hover {
  opacity: 1;
  background: #fff;
  text-decoration: none;
  color: #334c62;
  box-shadow: 1px 1px 5px;
}

/* Search Bar */


/*End of Search Bar*/


#scroll {
  padding-top: 30px;
}

.discover {
 padding: 0px 0px;
 margin: 30px 0px 0px 0px;
}

.discover img {
 height: 10%;
 width: 10%;
}

/* .first_banner {
 background-image: url('./WORDOF_pictures/building.jpeg');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
 height: 100%;
}
 */
.first_banner p {
 color: black;
}

.wrapper {
 background-color: white;
}

.values {
 display: flex;
 justify-content: space-between;
 margin: 0px 30px;
}


.top {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 270px;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 color: white;
     background-position: center;
}

.bottom {
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #DC4F41 ;
 width: 100%;
 height: 100px;
 color: white;
 padding: 0px 10px;
 text-align: center;
 margin-bottom: 40px;
}

.quickness {
 background-image: url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949323/wordof/Time.jpg");
}

.proximity {
 background-image: url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949318/wordof/People.jpg");
}

.trust {
 background-image: url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949321/wordof/man_on_bike.jpg");
}

/*******************************

*******************************/

.banner-subscribers {
 background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949325/wordof/Trees.jpg");
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-attachment: fixed;
 height: auto;
 width: 100%;
 padding: 100px;
 margin-top: 15px
}

.banner-subscribers h3 {
 color: white;
}

.btn-suscribers {
 width: auto;
 height: 50px;
 background-color: transparent;
 font-size: 20px;
 border: 3px solid #c9302c ;
}

.btn-suscribers:hover {
 background-color: #c9302c ;
}
.message {
 padding:50px 0px;
}

.message h1 {
 font-size: 50px;
 color: white;
}

.social {
 padding: 50px 0px;
 opacity: 0.8;
}

.social:hover {
 opacity: 1;
}

.join {
 margin: 70px 0px;
 background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949325/wordof/Trees.jpg");
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 opacity: 0.8;
 background-size: cover;
 background-attachment: fixed;
}

.join h1 {
 color: white;
}

.socialnetworks {
display: flex;
justify-content: space-around;
    text-align: center;

}

.socialnetworks h1 {
  margin: 0px 0px;
  color: #fff;
}

.jointitle {
 display: flex;
 justify-content: space-around;
 margin-bottom: 60px;
}

.facebook {
 background-color: #3A5795 ;
 height: 220px;
 width: 220px;
 border-radius: 20px;
}

.instagram {
 background-color: #E7E2C1 ;
 height: 220px;
 width: 220px;
 border-radius: 20px;
}

.linkedin {
 background-color: #1C87BD ;
 height: 220px;
 width: 220px;
 border-radius: 20px;
}

#fa-font {
 color: #fff;
}

.rowtestimonials {
 display: flex;
 align-items: center;
 justify-content: center;
}

.testimonials img {
 height: 100%;
 width: 100%;
 }

.testimonialpic {
 height: 350px;
 width: 16.666%;
  float: left;
  background-size: cover;
  background-position: center;
}

.testimonialtext {
 height: 350px;
 width: 16.666%;
 padding: 10px 15px;
 float: left;
 font-size: 12px;
}

.card {
  padding:10px;
}
