<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                    <h3 style='margin-top: 0;'>Find us at</h3>
                    <ul class="socials">
                        <li> <a href="https://www.facebook.com/wordofpage/" target="_blank"> <i class=" fa fa-facebook"></i> </a> </li>
                        <li> <a href="https://www.instagram.com/_wordof_/" target="_blank"> <i class="fa fa-instagram"></i> </a> </li>
                        <li> <a href="https://www.linkedin.com/company/6652621?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A6652621%2Cidx%3A2-2-3%2CtarId%3A1459932317123%2Ctas%3Awordo" target="_blank"> <i class="fa fa-linkedin"></i> </a> </li>
                        <li> <a href="" target="_blank"> <i class="fa fa-envelope"></i> </a> </li>
                    </ul>
                </div>
                <div class='copyright'>
                  <p class="pull-right"> Copyright © WordOf.</p><br>
                  <p class='pull-right'> All right reserved. </p>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>

</footer>
