

<!--   <div class="container"> -->
<div class="container margin-top">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="profilebanner text-center">
        <h1><span class="username">Leonardo Di Caprio</span> <br><span class= "job">LAWYER</span></h1>
      </div>
    </div>
  </div>
  <div class="profilecard">
      <%= cl_image_tag("wordof/Leonardo.png") %>


    <div class="descriptionprofile profiledesc">
      <h2> <i class="fa fa-info"></i> Description</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores accusantium ex, culpa reprehenderit porro quod tenetur, autem sapiente ullam nisi. Error nam voluptas iste maiores repellat itaque maxime minima temporibus.</p>
    </div>
  </div>




  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-plus"></i> Specialisations</h2>
        <p>Divorces, fusions</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-language"></i> Spoken Languages</h2>
        <p>english, french, italian</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-map-marker"></i> Address</h2>
        <p>Rue de Stassart, 60. 1050 IXELLES</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-mobile"></i> Phone</h2>
        <p>0478455617</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-envelope"></i> Mail</h2>
        <p>leonardo@gmail.com</p>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="profilebanner">
        <h2> <i class="fa fa-globe"></i> Map</h2>
      </div>
    </div>
  </div>
</div>


<script src="javascript.js"></script>
