

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= cl_image_tag("wordof/typewriter_machine.jpg") %>
      <div class="carousel-caption">
        <h3>text</h3>
        <p>text</p>
      </div>
    </div>

    <div class="item">
      <%= cl_image_tag("wordof/woman_photographer.jpg") %>
      <div class="carousel-caption">
        <h3>text</h3>
        <p>text</p>
      </div>
    </div>

    <div class="item">
      <%= cl_image_tag("wordof/guitarist.jpg") %>
      <div class="carousel-caption">
        <h3>text</h3>
        <p>text</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="padding text-center">
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Job <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Lawyer</a></li>
    <li><a href="#">Architect</a></li>
    <li><a href="#">Plumber</a></li>
    <li><a href="#">Dentist</a></li>
  </ul>
</div>
</div>

<div class="container">
  <div class="row active-with-click">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Christopher Walken</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Notary
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
          </div>
          <div class="mc-description">
            For 30 years now, I can help you in all your paperwork when you launch a company or buy a house.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Sean Penn</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Lawyer
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-sean-penn.jpg">
          </div>
          <div class="mc-description">
            I have a winning rate of 85%. Specialized in divorces
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Clint Eastwood</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Tax Expert
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-clint-eastwood.jpg">
          </div>
          <div class="mc-description">
            There are many ways of saving money while being a professional or as a private. Do not hesitate to contact me to benefits my tax advises.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Dustin Hoffman</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Photographer
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-dustin-hoffman.jpg">
          </div>
          <div class="mc-description">
            I'll be glad to come and immortalize the most important moments in your life. I can come with all necessary material for your weddings, family pictures, bar-mitsvah...
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Edward Norton</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Graphic Designer
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-edward-norton.jpg">
          </div>
          <div class="mc-description">
            Design is more than an art for me. It's a passion I'm living withing every single day. Do not hesitate to check my social links to see what I can do for you.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Michael Caine</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Developer
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-michael-caine.jpg">
          </div>
          <div class="mc-description">
            Full-stack dev. I know html, css, javascript, jquery, rails, php, Swift, Android and many more. I can also give you some advises on design and content.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Harvey Keitel</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Sports Coach
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-harvey-keitel.jpg">
          </div>
          <div class="mc-description">
            I'll assist you with all the knowledge I have as a sports coach to help raise your limits and reach your objectives. WE ALL CAN DO IT GO GO GOOOOO...
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Jack Nicholson</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Psychologist
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-jack-nicholson.jpg">
          </div>
          <div class="mc-description">
            I got my degree at Harvard school and decided to move to Brussels to listen and help you if you need. Do not hesitate to contact me if you want us to try together.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Jeff Bridges</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Gynecologist
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-jeff-bridges.jpg">
          </div>
          <div class="mc-description">
            Working in this domain for more than 27 years, I welcome you to my cabinet for a consultation for any of your problems.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Joaquin Phoenix</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Dentist
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-joaquin-phoenix.jpg">
          </div>
          <div class="mc-description">
            Working for a cabinet of 10 dentists, I'm responsible for the children. Knowing how to approach them to make them feel safe and comfortable, I can fix a broken teeth or just make sure the hygyene is good.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Tom Hanks</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Plumber
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-tom-hanks.jpg">
          </div>
          <div class="mc-description">
            Working in Brussels city do not hesitate to contact me if you have any urgency or any needs of information. I'll come as soon as possible to help you.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Philip Seymour Hoffman</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Doctor
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-philip-seymour-hoffman.jpg">
          </div>
          <div class="mc-description">
            Working as a doctor for more than 23 years, I take care of all the family.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Paul Newman</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Chef
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-paul-newman.jpg">
          </div>
          <div class="mc-description">
            Want to impress your guest during a home dinner? Please contact me and I'll show you all different kind of food I can propose as Chinese, Italian and Thai cuisine.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Marlon Brando</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Mechanic
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-marlon-brando.jpg">
          </div>
          <div class="mc-description">
            I take care of any car brand. Do not hesitate to contact me. I can also move if your car doesn't ride.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Kevin Spacey</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Veterinary
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-kevin-spacey.jpg">
          </div>
          <div class="mc-description">
            Pets lover since my childhood, I learned in the ULB university and also teach there now. I love animals and I'm here to help and take good care of them.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Robert De Niro</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Pediatrician
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-robert-de-niro.jpg">
          </div>
          <div class="mc-description">
            Having a first baby is always challenging. You don't trust anyone to take care of what is the most important for you. I'd love to assist you by taking care of your child.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Steve Mcqueen</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Architect
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-steve-mcqueen.jpg">
          </div>
          <div class="mc-description">
            I love pure and classic architecture. I can help you with a new house or flat for all the changes you want to perform in it as well of the interior design assisting you in finding vintage furnitures.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Rugter Hauer</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Gardener
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-rugter-hauer.jpg">
          </div>
          <div class="mc-description">
            I can do all tasks needed in your garden. New garden you need to prepare or old garden you want to refresh and make it live again. Please contact me for any of your needs.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <article class="material-card Blue">
        <h2>
          <span>Morgan Freeman</span>
          <strong>
            <i class="fa fa-bookmark"></i>
            Nutritionist
          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-morgan-freeman.jpg">
          </div>
          <div class="mc-description">
            Having a good nutrition and appropriate food is difficult. Cooking good stuff is also difficult. We all have common and different needs. Contact me if you need advises.
          </div>
        </div>
        <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">
          <a class="fa fa-fw fa-mobile" href=""></a>
          <a class="fa fa-fw fa-envelope" href=""></a>
          <a class="fa fa-fw fa-map-marker" href=""></a>
          <a class="fa fa-fw fa-info" href=""></a>
        </div>
      </article>
    </div>
  </div>
</div>

<script src="javascript.js"></script>
