<div class='wrapper'>
  <!--Banner-->
  <div class="banner" style="background: url(<%= asset_path 'building.jpeg' %>);">
    <div class="banner-content">
      <h1>DON'T LOOK FOR IT, JUST FIND IT.</h1>
      <p>Find a reliable service provider based on community's recommendations.</p><br>
      <a href="" class="btn-work">How it works</a>
    </div>
  </div>
</div>

<div class="discover text-center">
  <h3>Designed for you</h3>
  <img src=<%= asset_path 'WORDOF_logo.png' %>
</div>

<div class="wrapper">
  <div class="values">
   <div class="card">
     <div class="top quickness">
       <h1>QUICKNESS</h1>
     </div>
     <div class="bottom">
       <p class="text-below">Find in one click the provider you were looking for so long</p>
     </div>
   </div>

   <div class="card">
     <div class="top proximity">
       <h1>PROXIMITY</h1>
     </div>
     <div class="bottom">
       <p >They're not that far. Find your next provider next to your home</p>
     </div>
   </div>

   <div class="card">
     <div class="top trust">
       <h1>TRUST</h1>
     </div>
     <div class="bottom">
       <p>Relax. If the community recommend them, they should be great</p>
     </div>
   </div>

 </div>
</div>

<br>

<div class="banner-subscribers text-center">

 <div class="message">
 <h1>YOU DESERVE IT TOO</h1><br><br>
 <h3>5000 reliable services providers recommended</h3>
 <h3>1000 trustable users</h3>
 </div>
 <button type="button" class="btn-work">I want to join too !!!</button>


</div>
