<h1>Saved#index</h1>
<p>Find me in app/views/saved/index.html.erb</p>

<% @saveds.each do |saved| %>
  <%= saved.professional.user.name %>
  <%= saved.professional.specialty.category.name %>
  <%= saved.professional.specialty.name %>
<% end %>
