// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topcrd {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 270px;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 color: white;
     background-position: center;
}

.topcrd p {
  font-weight: 700;
  letter-spacing: 1px;
}

.bottomcrd {
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #DC4F41 ;
 width: 100%;
 height: 100px;
 color: white;
 padding: 0px 10px;
 text-align: center;
 margin-bottom: 40px;
}

#textcrd {
  color: white;
  font-weight: 400;
}

.search {
 background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.3) 50%), url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949323/wordof/Time.jpg");
}

.user {
 background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.3) 50%), url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949318/wordof/People.jpg");
}

.professional {
 background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.3) 50%), url("http://res.cloudinary.com/cynthiouss/image/upload/v1459949321/wordof/man_on_bike.jpg");
}
