<div class="container" style="margin-top: 85px">

  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <h1>Edit your professional profile</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <%= render "form", professional: @profesional %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <p><%= link_to "Delete", user_professional_path(@professional), method: :delete %> | <%= link_to "Back", root_path %></p>
    </div>
  </div>
</div>
